body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0.5rem;
}

.container {
  margin: 0;
  padding: 1rem;
  background: black;

  &__results {
    background: #e3e3e3;
  }
}

.wrapper {
  max-width: 55rem;
  margin: 0 auto;
}
